<!DOCTYPE html>

<html>

<head>
  <title>Weather</title>
  <link rel="stylesheet" href="./css/app.css">
</head>

<body>
  <div class='main-content'>
    {{>header}}
    <p>How is the weather today?!</p>

    <form>

      <input placeholder="Location goes here!">
      <button type="submit">
        Search
      </button>

    </form>
  </div>
  {{>footer}}

  <script src="./js/front.js"></script>
</body>

</html>